@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #FFF;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #443B97;
  font-size: 4rem;
  line-height: inherit;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: #994FBA;
}

span {
  font-family: 'Quicksand', sans-serif;
  color: #443B97;
}

.banner {
  background-color: #EDFFD6;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: #443B97;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  color: #FFF;
}

p {
  font-family: 'Quicksand', sans-serif;
}

nav {
  color: #443B97;
  font-weight: bold;
}

.price {
  text-decoration: none;
}

.tools {
  border: 2px;
}

.cc {
  font-family: 'Quicksand', sans-serif;
  color: #FFF;
}

li {
  font-family: 'Quicksand', sans-serif;
}

th {
  border-bottom: none;
  font-weight: normal;
}

td {
  border-bottom: none;
}

.foot {
  font-family: 'Quicksand', sans-serif;
  color: #FFF;
}

.btn {
  font-family: 'Quicksand', sans-serif;
  background-color: #AEE800;
  border: none;
  font-weight: bold;
}

.one {
  background-color: #443B97;
}

.price {
  color: #443B97;
}

a:hover {
  color: #054207;
}

.free {
  background-color: #EFEEFF;
}

.base {
  background-color: #F9D8FF;

}

.adv {
  background-color: #EA92FA;
}

.dev {
  background-color: #FFFCF5;
}

a {
  text-decoration: none;
  color: #443B97;
}

.sign-up {
  font-family: 'Quicksand', sans-serif;
}

footer {
  background-color: #002A5C;
}
