@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #FFF;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #443B97;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: #994FBA;
}

.titles {
  color: #443B97;
}

.banner-m {
  background-color: #CFFF36;
}

.banner-f {
  background-color: #CFFF36;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: #FFF;
}

p {
  font-family: 'Quicksand', sans-serif;
}

nav {
  color: #443B97;
  font-weight: bold;
}

.tools {
  border: 2px;
}

.cc {
  font-family: 'Quicksand', sans-serif;
  color: #;
}

li {
  font-family: 'Quicksand', sans-serif;
}

.btn {
  font-family: 'Quicksand', sans-serif;
  background-color: #AEE800;
  border: none;
  font-weight: bold;
}

.one {
  background-color: #443B97;
}
.price {
  color: #443B97;
}

a:hover {
  color: #054207;
}

.free {
  background-color: #EFEEFF;
}

.base {
  background-color: #F9D8FF;

}

.adv {
  background-color: #EA92FA;
}

.swat {
  background-color: #6FFFFF;
}

.pal {
  background-color: #FFA420;
}

.brush {
  background-color: #FFA420;
}

.tep {
  background-color: #6FFFFF;
}

.dev {
  background-color:
}

a {
  text-decoration: none;
}

footer {
  background-color: #002A5C;
}
