@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: Pacifico, cursive;
  color: #443b97;
  font-size: 4rem;
  line-height: inherit;
}

h2 {
  font-family: Quicksand, sans-serif;
  color: #994fba;
}

span {
  font-family: Quicksand, sans-serif;
  color: #443b97;
}

.banner {
  background-color: #edffd6;
}

h3 {
  font-family: Quicksand, sans-serif;
  color: #443b97;
}

h4 {
  font-family: Quicksand, sans-serif;
  color: #fff;
}

p {
  font-family: Quicksand, sans-serif;
}

nav {
  color: #443b97;
  font-weight: bold;
}

.dropbtn {
  background-color: #443b97;
  color: #fff;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: Quicksand, sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #aee800;
  min-width: 50px;
  z-index: 1;
  right: 0;
  list-style-type: none;
  text-decoration: none;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #443b97;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #aee800;
  border: none;
  font-family: Quicksand, sans-serif;

}

.pricing {
  font-size: 2rem;
}

.price {
  text-decoration: none;
  color: #443b97;
}

.tools {
  border: 2px;
}

.cc {
  font-family: Quicksand, sans-serif;
  color: #fff;
}

li {
  font-family: Quicksand, sans-serif;
}

th {
  border-bottom: none;
  font-weight: normal;
}

td {
  border-bottom: none;
}

.foot {
  font-family: Quicksand, sans-serif;
  color: #fff;
}

.foot-table {
  max-width: 350px;
}

.btn {
  font-family: Quicksand, sans-serif;
  background-color: #aee800;
  border: none;
  font-weight: bold;
}

.one {
  background-color: #443b97;
}

a:hover {
  color: #054207;
}

.free {
  background-color: #efeeff;
}

.base {
  background-color: #f9d8ff;

}

.adv {
  background-color: #ea92fa;
}

.dev {
  background-color: #fffcf5;
}

a {
  text-decoration: none;
  color: #443b97;
}

.sign-up {
  font-family: Quicksand, sans-serif;
}

footer {
  background-color: #002a5c;
}
